@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/TMS.Libs.Frontend.Web.DockPanels/Components/DocksHostComponent.razor.js", JSObjectReference = true)]

<div
    @attributes="@AdditionalAttributes"
    id="@Id"
    class="@ClassString">
    <template>
        @if (DockPanelsParent == null)
        {
            <DockPanelIconButtonComponent
                IconName="bar" />

            <DockPanelIconButtonComponent
                IconName="close" />

            <DockPanelIconButtonComponent
                IconName="lock" />

            <DockPanelIconButtonComponent
                IconName="unlock" />

            <DockPanelIconButtonComponent
                IconName="full" />

            <DockPanelIconButtonComponent
                IconName="restore" />

            <DockPanelIconButtonComponent
                IconName="float" />

            <DockPanelIconButtonComponent
                IconName="dock" />

            <DockPanelIconButtonComponent
                IconName="down" />

            <DockPanelIconButtonComponent
                IconName="pin" />

            <DockPanelIconButtonComponent
                IconName="pushpin" />

            <DockPanelDropdownIconComponent
                IconName="dropdown" />
        }

        <CascadingValue
            Value="this"
            IsFixed="true">
            <CascadingValue
                Value="_components"
                IsFixed="true">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
    </template>
</div>
